<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shamiq.microbitwager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.shamiq.microbitwager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.shamiq.microbitwager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shamiq.microbitwager.MainActivity" />
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.UserCreate"
            android:label="@string/title_activity_user_create"
            android:parentActivityName="com.shamiq.microbitwager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shamiq.microbitwager.MainActivity" />
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.FundAccount"
            android:label="@string/title_activity_fund_account"
            android:parentActivityName="com.shamiq.microbitwager.UserCreate" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shamiq.microbitwager.UserCreate" />
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.WagersMain"
            android:label="@string/title_activity_wagers_main" >
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.NewWager"
            android:label="@string/title_activity_new_wager"
            android:parentActivityName="com.shamiq.microbitwager.WagersMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shamiq.microbitwager.WagersMain" />
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.ListViewWithListActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name="com.shamiq.microbitwager.ListViewWithListActivityFixed"
            android:label="@string/title_activity_list_view_with_list_activity_fixed" >
        </activity>
    </application>

</manifest>
